[[source]]
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
# data processing and visualisation
pandas = "*"
openpyxl = "*"
matplotlib = "==3.5.3"
seaborn = "*"

# machine learning
scikit-learn = "*"

# utils
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"
