[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
# data processing and visualisation
pandas = "==1.5.3"
openpyxl = "*"
matplotlib = "==3.5.3"
seaborn = "*"
Jinja2 = "*"

# machine learning
scikit-learn = "*"

# utils
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"
